#modalPopupImage {
	.image-selected{
		border : 2px solid black ! important;
	}
	.active-folder{
		background:#a0cbd5;
	}

	.list-toolbar {
		margin: 0px !important;
		padding : 0px ! important;
		li{
			display : inline-block;
			margin : 0px !importatnt;
			padding :0px !important;
			a{
				display : block;
				padding : 0px 10px !important;
			}
		}
	}
	.list-folder{
		.folder-root{
			margin: 0px !important;
			padding : 0px 10px ! important;
			li{
				margin : 0px !importatnt;
				padding :0px !important;
				a{
					display : inline-block;
					padding : 0px 10px 0px 0px !important;
				}
				ul{
					margin: 0px !important;
					padding : 0px! important;
					li{
						margin : 0px !importatnt;
						padding :0px !important;
						a{
							display : inline-block;
							padding : 0px 10px 0px 0px !important;
						}
						ul.folders{
							margin: 0px !important;
							padding : 0px 10px ! important;
							li{
								margin : 0px !importatnt;
								padding :0px !important;
								a{
									display : inline-block;
									padding : 0px 10px 0px 0px !important;
								}
								ul.items{
									margin: 0px !important;
									padding : 0px 10px ! important;
									li{
										margin : 0px !importatnt;
										padding :0px !important;
										a{
											display : inline-block;
											padding : 0px 10px 0px 0px !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.list-files{
		img{
			width: 100%;
			height: 200px;
			border: 2px solid transparent;
		}
	}

}